@model IEnumerable<MontclairModels.ItemEntity>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.Category_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantityInStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.colour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shape)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.flavour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.size)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a><img src="data:image/png;base64,@Convert.ToBase64String(item.Picture, 0, item.Picture.Length)" style="width: 40px; height: 40px" alt="" /></a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Category_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantityInStock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shape)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.flavour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.colour)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Picture)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ItemCode }) |
            @Html.ActionLink("Details", "Details", new { id = item.ItemCode }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ItemCode })
        </td>
    </tr>
}

</table>
<script type="text/javascript">
    R('#my_list').dataTable(
          {
              dom: 'Bfrtip',
              lengthMenu: [
                  [ 10, 25, 50, 1 ],
                  [ '10 rows', '25 rows', '50 rows', 'Show all' ]
              ],
              buttons: [
                  'pageLength', 'pdf', 'print'
              ]
          }
        );
    R('#my_list')
       .removeClass('display')
       .addClass('table table-striped table-hover');
</script>