@model MontclairModels.CartItemEntity

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CartItemEntity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cart.cart_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cart.cart_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.colour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.colour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shape)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shape)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.flavour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.flavour)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cart_item_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
